<!--
    Main Menu Page
    mini\src\views\mainMenu.html
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    
    <link rel="manifest" href="/mini/manifest.json">
</head>

<body class="body">

    <div class="container">
        <h1>Main Menu</h1>
        <p>Yo, it's the Main Menu here.</p>

        <div class="btn-container">
            <a id="accountButton" href="#" class="btn btn-primary">Account</a>
            <a id="manifButton" href="#" class="btn btn-primary">Manif</a>
            <a id="sloganButton" href="#" class="btn btn-primary">Slogan</a>
            <a id="logoutButton" href="#" class="btn btn-danger">Logout</a>            
        </div>
    </div>
    
</body>

</html>
