<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manif Page</title>
    
    <link rel="manifest" href="/mini/manifest.json">

    <script src="/mini/src/scripts/manif.js"></script>

</head>

<body class="body">

    <div class="container">
        <h1>Manif</h1>

        <!-- Create Manif Button -->
        <button id="createManifButton" class="btn btn-primary">Create Manif</button>

        <!-- Card Container -->
        <div id="manifCardsContainer" class="card-container">
        </div>

        <!-- Return Button -->
        <button id="returnToMain" class="btn btn-secondary">Return</button>
    </div>

</body>

</html>


