<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slogan Page</title>
    
    <link rel="manifest" href="/mini/manifest.json">

    <script src="/mini/src/scripts/slogan.js"></script>
</head>

<body class="body">

    <div class="container">
        <h1>Slogan Page</h1>

        <!-- Cards Container -->
        <div id="sloganCardsContainer" class="card-container">
        </div>

        <!-- Buttons -->
        <div class="mb-3">
            <button type="button" class="btn btn-primary" id="createSloganButton">Create New Slogan</button>
            <button type="button" class="btn btn-danger" id="returnToMainMenuButton">Return to Main Menu</button>
        </div>
    </div>

</body>

</html>
